<!DOCTYPE html>
{{ `<!--[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->` | safeHTML }}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ .Hugo.Generator }}

        {{ if eq .URL "/" }}
        <title>Ingmar uit de Bos</title>
        <meta name="description" content="Front-end web developer based in Amsterdam">
        <meta property='og:title' content="Ingmar uit de Bos">
        <meta property="og:description" content="Front-end web developer based in Amsterdam">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ $.Site.BaseURL }}">
        <meta property="og:image" content="{{ $.Site.BaseURL }}assets/og-image.png">
        {{ else }}
        <title>{{ .Title }} - {{ .Site.Title }}</title>
        <meta property='og:title' content="{{ .Title }} - {{ .Site.Title }}">
        <meta property="og:type" content="article">
        {{ end }}

        <meta property="og:url" content="{{ .Permalink }}">
        {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
        {{ with .Params.image }}<meta property="og:image" content="{{ $.Site.BaseURL }}images/{{ . }}">{{ end }}
        
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
        <link rel="manifest" href="/assets/icons/site.webmanifest">
        <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/assets/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Fira+Sans:300" rel="stylesheet">
        <!-- |IM+Fell+English+SC|IM+Fell+DW+Pica|IM+Fell+French+Canon| <link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">-->
        <link rel="stylesheet" href="{{ "css/screen.css" | relURL }}">

        <script>
            var globals = {
                siteUrl: {{ .Site.BaseURL }}
            };
        </script>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42557858-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-42557858-1');
        </script>

    </head>

    {{ block "body" . }}
    <body class="hugo-type-{{ .Type }} hugo-kind-{{ .Kind }}">
        {{ partial "svg_filters.html" . }}
        
        <div class="site-frame">
            {{ block "header-notifications" . }}
                {{ partial "default_notifications.html" . }}
            {{ end }}

            {{ block "header" . }}
                <header class="site-header sk-dynamicheader sk-classscroll" data-sk-classscroll="is-collapsed[20vh..*]">
                    <div class="default-header">
                        <a class="site-logo-wrapper" href="{{ $.Site.BaseURL }}" aria-label="Home">
                            <figure class="logo">
                                <!-- <img src="{{ $.Site.BaseURL }}assets/logo_white_flat.svg" alt="Personal logo"/> -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 446.3 271.6">
                                    <path fill="#FFFFFF" d="M89.3 271.6c2.4-2 3.3-7.9.4-10.3l-11-1.2c-8.2-.8-11.8-2.9-11.8-5.3 0-2.9 2-7.3 5.3-13.1 16.3-28.6 58.9-91 69.3-105.3L214 35.6c.5-.7 1.6-.7 2.2 0l66.8 95.6c3.3 4.5 4.9 8.2 4.9 9.4s-.8 4.1-3.7 8.2c-22.4 32.6-50.6 68.5-55.5 75.1-12.2 16.3-26.5 33.9-48.6 36.3l-9.1 1.1c-.8.1-1.6.6-2 1.3-1.5 2.5-1.1 6.5 1.1 8.4.5.4 1.2.7 1.9.6h270.9c.9 0 1.8-.3 2.3-1.1 1.3-2.1 1.5-5.6.1-7.9-.5-.7-1.3-1.2-2.1-1.3l-13.2-1.1c-12.6-1.2-23.3-7.8-37.1-26.9 0 0-51.9-72.7-69-97.1-17-24.3-51.2-72.7-67.3-97.5-7.8-12-12.2-18.8-12.2-22.4 0-2.4 4.9-4.9 12.2-5.3l10-.7c1-.1 1.9-.6 2.3-1.6 1.1-2.4.9-5.6-.3-7.5-.5-.8-1.5-1.2-2.4-1.2h-91.1c-1.1 0-2.2.6-2.7 1.6-.8 1.9-1 4.9-.2 7 .3.9 1.1 1.6 2.1 1.8 0 0 8.5 1.5 12.3 1.8 6.6.6 14.7 3.8 14.7 5.8 0 .5-.1 1.1-.2 1.7l-2 4.4c-.9 1.7-2.1 3.7-3.3 5.9-15.6 28.4-48.6 75.7-69.1 103.9-23.3 32.1-61 83.3-65.9 89.9-12.2 16.3-26.5 33.9-48.6 36.3L2 261.3c-2.9 2.4-2.4 8.7 1.2 10.3h86.1zm157.2-11.3c-8.2-.8-11.8-2.9-11.8-5.3 0-2.9 2-7.3 5.3-13.1 15.3-26.8 42.9-67.6 55.3-84 1.1-1.5 3.3-1.5 4.4 0 17.6 23.1 39.3 55.3 56.1 79.1 8.2 11.4 9 15.5 9 18 0 2.8-4.5 4.8-13.9 5.3H246.5z"></path>
                                </svg>
                            </figure>
                        </a>
    
                        <nav class="nav-header">
                            {{ block "header-content" . }}
                                <a href="/">Projects</a>
                                <a href="/">About</a>
                                <a href="/">Contact</a>
                            {{ end }}
                        </nav>
                    </div>
                </header>
            {{ end }}

            <div class="site-container">
                {{ block "main" . }}

                {{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>
        
        {{ partial "photoswipe.html" . }}
        
        <script async src="{{ "js/main.js" | relURL }}"></script>
    </body>
    {{ end }}

</html>