{{ define "header-main" }}
    <figure class="full">
        <img src="http://placehold.it/300x200"/>
    </figure>
{{ end }}


{{ define "main" }}
<div class="template-single">
    <div class="layout-grid is-full single-header">
        Full
    </div>

    <div class="layout-grid is-three-panel">
        <div class="layout-background is-flat-white"></div>

        <div class="three-panel-first"></div>
        <main class="three-panel-second content-container is-pulled-up has-shadow">
            <div style="background-color: rgba(0, 255, 0, 0.1); margin-bottom: 20px;">{{ .Page }}</div>

            <div class="content-body">
                <div class="infobox">
                    <p>Test test</p>
                    <p>Testtest</p>
                </div>
                {{ .Content }}
            </div>
            
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>

            <div class="js-photoswipe-gallery">
                <figure class="js-photoswipe-figure">
                    <a href="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-pid="1">
                        <img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" alt="Alt tekst" data-src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-width="100" data-height="100"/>
                    </a>
                    <figcaption>Titel 1</figcaption>
                </figure>

                <figure class="js-photoswipe-figure">
                    <a href="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-pid="2">
                        <img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" alt="Alt tekst" data-src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-width="100" data-height="100"/>
                    </a>
                    <figcaption>Titel 2</figcaption>
                </figure>

                <figure class="js-photoswipe-figure">
                    <a href="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-pid="3">
                        <img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" alt="Alt tekst " data-src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-width="100" data-height="100"/>
                    </a>
                    <figcaption>Titel 3</figcaption>
                </figure>
            </div>
        </main>
        <div class="three-panel-third">
            
            
            <aside class="side-nav-container" style="background-color: rgba(0, 0, 0, 0.1);">
                <div class="side-nav js-sticky">
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                </div>
            </aside>

        </div>
    </div>
</div>
{{ end }}