{{ define "main" }}
    <section>
        <div> Taxonomies / terms.html
        <h1>{{ .Title }}</h1>

        {{ range $key, $value := .Data.Terms }}
            <a href="/{{ $.Data.Plural }}/{{ $key | urlize }}/" class="{{ $.Data.Singular }}">{{ $key }}</a>
        {{ end }}
        
        </div>
    </section>
{{ end }}