.layout-grid {
    position: relative;
    width: 100%;
    flex-basis: 100%;
    display: grid;
    grid-gap: 0;

    &:last-child {
        padding-bottom: $unit * 4;
    }

    &.is-full {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    &.is-three-panel {
        grid-template-rows: 1fr;
        grid-template-columns: auto minmax($site-min-width, $site-max-width) auto;
        -ms-grid-columns: 12% minmax($site-min-width, $site-max-width) 12%;
        @media (max-width: $site-max-width) {
            grid-template-columns: $unit * 2 minmax($site-min-width, $site-max-width) $unit * 2;
        }

        @media #{$bp-tablet-down} {
            .three-panel-first { display: none !important; }
            .three-panel-third { display: none !important; }
            .three-panel-second { width: calc(100% - 20px); grid-column: 1 / span 3; }
        }
    }

    .layout-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.is-flat-white {
            background-color: $color-light-grey;
            background-image: linear-gradient(12deg,#ffebbe,#fdf4df); // baby yellow
            //linear-gradient(12deg,#ceb484,#fff7c1)
            background-image: linear-gradient(12deg,#2d5f2a,#7dbb41); // green
            background-image: linear-gradient(12deg,#244684,#49bec7); // bright blue
            background-image: linear-gradient(12deg,#ab6318,#d6ba3d); // fiery red
        }
    }

    > .is-pulled-up { margin-top: $unit * -4; }
    > .is-pulled-down { margin-bottom: $unit * -4; }
    > .has-shadow { box-shadow: 0 1px $unit rgba($color-black-true, 0.1); }
}