.site-frame {
    opacity: 0;
    transition: opacity 0.3s;
    &.is-loaded { opacity: 1;}
    .no-js & { animation: no-js-loading 0.3s 1s forwards; }
}

@keyframes no-js-loading {
    0% { opacity: 0; }
    100% { opacity: 1; }
}