.site-header {
    $header-transition-speed: 0.7s;
    user-select: none;

    .default-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $column-padding;

        position: fixed;
        top: 0;
        left: 0;
        z-index: index($layer, "site-default-header");
        width: 100%;

        color: $color-white;
        background-color: transparent;

        height: $unit-large * 3;
        transition: height $header-transition-speed, background-color $header-transition-speed;

        @include parent-modifier('.is-collapsed', 1) {
            background-color: $color-black;
            height: $unit-large * 2 + $unit;
            .nav-header { opacity: 1; }
        }

        .nav-header { opacity: 0.2; transition: opacity $header-transition-speed; }

        .site-frame:not(.is-loaded) & {
            background-color: transparent;
            .nav-header { opacity: 0.2; }
        }

        &:hover {
            transition: height $transition-speed-slow, background-color $transition-speed-slow;
            background-color: $color-black;
            .nav-header { opacity: 1; transition: opacity $transition-speed-slow; }
        }

    }

    .logo {
        position: relative;
        width: 56px;
        font-size: 0; // IE / Edge fix for inline SVG
        img {
            width: 100%;
            display: block;
        }
    }
}

@keyframes logo-delayed-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}