@mixin site-column() {
    max-width: $site-max-width;
    margin: 0 auto;
}

.site-column {
    @include site-column();
    width: 100%;
    padding: 0 $column-padding;
}

@mixin text-column() {
    // Max 50 - 75 characters per line of body text
    max-width: $text-max-width;
    margin: 0 auto;
}

.text-column {
    @include text-column();
    width: 100%;
}