.template-single {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .layout-grid { flex-grow: 1; }
    .single-header {
        flex: 0 0 200px;
        height: 200px;
    }

    .content-container {
        background-color: $color-white;
        grid-column: 2 / span 1;
    }
}