{{ define "header" }}
<div></div>
{{ end }} {{ define "main" }}
<div class="template-splash">
    <div class="template-background">
        <canvas width="0" height="0" class="splash-canvas js-splash-canvas" data-splash-canvas-type="Teardrops"></canvas>
    </div>
    
    <div class="center-content">
        <div class="logo-wrapper">
            <figure class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 446.3 271.6">
                    <path d="M89.3 271.6c2.4-2 3.3-7.9.4-10.3l-11-1.2c-8.2-.8-11.8-2.9-11.8-5.3 0-2.9 2-7.3 5.3-13.1 16.3-28.6 58.9-91 69.3-105.3L214 35.6c.5-.7 1.6-.7 2.2 0l66.8 95.6c3.3 4.5 4.9 8.2 4.9 9.4s-.8 4.1-3.7 8.2c-22.4 32.6-50.6 68.5-55.5 75.1-12.2 16.3-26.5 33.9-48.6 36.3l-9.1 1.1c-.8.1-1.6.6-2 1.3-1.5 2.5-1.1 6.5 1.1 8.4.5.4 1.2.7 1.9.6h270.9c.9 0 1.8-.3 2.3-1.1 1.3-2.1 1.5-5.6.1-7.9-.5-.7-1.3-1.2-2.1-1.3l-13.2-1.1c-12.6-1.2-23.3-7.8-37.1-26.9 0 0-51.9-72.7-69-97.1-17-24.3-51.2-72.7-67.3-97.5-7.8-12-12.2-18.8-12.2-22.4 0-2.4 4.9-4.9 12.2-5.3l10-.7c1-.1 1.9-.6 2.3-1.6 1.1-2.4.9-5.6-.3-7.5-.5-.8-1.5-1.2-2.4-1.2h-91.1c-1.1 0-2.2.6-2.7 1.6-.8 1.9-1 4.9-.2 7 .3.9 1.1 1.6 2.1 1.8 0 0 8.5 1.5 12.3 1.8 6.6.6 14.7 3.8 14.7 5.8 0 .5-.1 1.1-.2 1.7l-2 4.4c-.9 1.7-2.1 3.7-3.3 5.9-15.6 28.4-48.6 75.7-69.1 103.9-23.3 32.1-61 83.3-65.9 89.9-12.2 16.3-26.5 33.9-48.6 36.3L2 261.3c-2.9 2.4-2.4 8.7 1.2 10.3h86.1zm157.2-11.3c-8.2-.8-11.8-2.9-11.8-5.3 0-2.9 2-7.3 5.3-13.1 15.3-26.8 42.9-67.6 55.3-84 1.1-1.5 3.3-1.5 4.4 0 17.6 23.1 39.3 55.3 56.1 79.1 8.2 11.4 9 15.5 9 18 0 2.8-4.5 4.8-13.9 5.3H246.5z"></path>
                </svg>
            </figure>

            <div class="about">
                <span>Ingmar uit de Bos</span><br/>
                <span>Frontend Engineer</span>
            </div>
        </div>
        
        <nav class="nav-animate-wrapper">
            <div class="nav">
                <a href="{{ "downloads/ingmar_cv_2020_12.pdf" | relURL }}" target="_blank" class="item">Download CV</a><br/>
                <span class="item">+31 <em class="is-hidden">no spam</em>6 244 <em class="is-hidden">no spam</em>74 301</span><br/>
                <span class="item">ingm<em class="is-hidden">no spam</em>ar.uitdeb<em class="is-hidden">no spam</em>os@gm<em class="is-hidden">no spam</em>ail.com</span>
            </div>
        </nav>
    </div>
    
    <!-- <span class="autograph">ngmr</span> -->
    
    <!--
    <div class="nav-wrapper">
        <div class="nav">
            {{ range .Site.Pages }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </div>
        <br/>
        <nav class="nav">
            {{ if .Site.BuildDrafts }}
                <span class="category">Past work</span>
                {{ range .Site.Pages }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
                <br/>
            {{ end }}
            <span class="category">Ingmar uit de Bos</span>
            <span class="item">Web Developer, Amsterdam</span>
            <br/>
            <span class="category">Contact</span>
            <span class="item">+31 <em class="is-hidden">no spam</em>6 244 <em class="is-hidden">no spam</em>74 301</span>
            <span class="item">ingm<em class="is-hidden">no spam</em>ar.uitdeb<em class="is-hidden">no spam</em>os@gm<em class="is-hidden">no spam</em>ail.com</span>
            <a href="{{ "downloads/ingmar_cv_2018_04.pdf" | relURL }}" target="_blank" class="item">Resume / CV</a>
        </nav>
    </div>
            -->
</div>

<!-- 
    <span>Ingmar uit de Bos</span><br/>
    <span>Frontend Developer</span><br/>
    {{ range .Site.Pages }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
-->
<!--
    <span>ingmar.uitde<del style="display: none;">no spam</del>bos@gma<del style="display: none;">no spam</del>il.com</span>
    <span>+31<del style="display: none;">no spam</del> 6 244 74 301</span>
-->
{{ end }}