body { @include font(body, main); }

p, ul, ol, li {
    .text > & {
        // True black with opacity to "normal" black on white bg
        color: $color-black-true;
        opacity: $text-opacity;
    }

    margin-bottom: $paragraph-spacing;
}
.text > p { 
    text-align: justify;
    -webkit-hyphenate-character: auto;
    hyphens: auto;
}

.font-small {
    @include font(body, small);
    margin-bottom: $paragraph-small-spacing;
}