@mixin font-h() {
    font-family: $font-heading;
    text-transform: uppercase;
    font-weight: 700;
}
@mixin font-h1() {
    @include font-size(30);
    font-family: "IM Fell English";
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.01em;
}
@mixin font-h2() {
    @include font-size(26);
    font-family: "IM Fell English";
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
    color: red;
    @include font(header, 1);
}
@mixin font-h3() {
    font-family: $font-smallcaps;
    @include font-size(20);
}
@mixin font-h4() {
    @include font-h();
    font-family: Arial;
    @include font-size(14);
}

h1, .h1 { @include font(header, 1); }
h2, .h2 { @include font(header, 2); }
h3, .h3 { @include font(header, 3); }
h4, .h4 { @include font(header, 4); }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    .text > & {
        margin-top: $paragraph-spacing;
        margin-bottom: $header-spacing;

        // True black with opacity to "normal" black on white bg
        color: $color-black-true;
        opacity: $text-opacity;
    }
}


// h4 is unique
h4, .h4 {
    .text > & {
        opacity: 1;
        margin-top: $paragraph-small-spacing;
        margin-bottom: 0;
    }
}