@mixin font-link() {
    font-weight: 700;
    text-decoration: none;
    text-decoration-skip: ink;
    &:focus {
        outline: none;
    }
}
@mixin font-link-opacity() {
    opacity: 1;
    &:hover,
    &:focus { opacity: 0.7; }
}
@mixin font-link-h() {
    @include font-link();
    @include font-link-opacity();
    text-decoration: underline;
}
@mixin font-link-body() {
    @include font-link();
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
@mixin font-link-block($inverse: false) {
    @include font-link();
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    margin-top: -2px;
    display: inline-block;

    @if ($inverse) {
        color: $color-white;
        background-color: rgba($color-black-true, 1);
        
        &:hover {
            background-color: rgba($color-black-true, 0.65);
        }
        &:focus {
            background-color: rgba($color-black-true, 0.65);
        }
    }
    @else {
        background-color: rgba($color-black-true, 0.1);
        
        &:hover {
            background-color: rgba($color-black-true, 0.25);
        }
        &:focus {
            background-color: rgba($color-black-true, 0.25);
        }
    }
}

// a { @include font(link, heading); }

h1, .h1,
h2, .h2,
h3, .h3 {
    > a { @include font(link, heading); }
}


.text > a { @include font(link, main); }
p, ul, ol, li {
    .text > & > a { @include font(link, main); }
}