@mixin hr() {
    position: relative;
    background-color: $color-black-true;
    opacity: $text-opacity;
    margin: $paragraph-spacing auto;
}

.hr {
    @include hr();
    width: 100%;
    height: $unit-small;
    border-radius: $unit-small / 2;
}

.hr-drawn {
    @include hr();
    width: 100%;
    height: $unit-small;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 20% 100% 100% 40%/70% 100% 50% 80%;
}

@mixin hr-dot() {
    @include hr();
    width: $unit-small;
    height: $unit-small;
    border-radius: 50%;
}

.hr-dot {
    @include hr-dot();
}
.hr-dots {        
    @include hr-dot();

    &:before,
    &:after {
        content: '';
        @include hr-dot();
        margin: 0;
        display: block;
        position: absolute;
        top: 0;
    }
    &:before { left: -$unit-large; }
    &:after { right: -$unit-large; }
}

/*
    Funny background squiggles
    --------------------------
    text-decoration: none;
    background-image: linear-gradient(5deg,transparent 65%,#0071de 80%,transparent 90%),linear-gradient(165deg,transparent 5%,#0071de 15%,transparent 25%),linear-gradient(165deg,transparent 45%,#0071de 55%,transparent 65%),linear-gradient(15deg,transparent 25%,#0071de 35%,transparent 50%);
    background: none;
    background-image: linear-gradient(40deg, #09ffdd00 25%, #ff0606 50%, transparent 75%);
    background-image: radial-gradient(circle at bottom, transparent 25%, red 35%, transparent 40%), radial-gradient(circle at top left, transparent 17%, red 22%, transparent 27%), radial-gradient(circle at top right, transparent 17%, red 22%, transparent 27%);
    // background-repeat: repeat-x;
    background-size: 49px 26px;
    color: transparent;
    background-position: 0 90%;


    background-image: radial-gradient(circle at 50% 10%, transparent 25%, red 35%, transparent 40%), radial-gradient(circle at 100% 85%, transparent 17%, red 22%, transparent 27%), radial-gradient(circle at 0% 85%, transparent 17%, red 22%, transparent 27%);
    background-size: 9px 10px;
*/