html {
    font-size: 16px;
    min-height: 100%;
    
    background-color: $color-black;
}

::selection {
    background-color: darken($color-yellow, 10);
    //background-color: rgba(147, 210, 255, 0.40);
}

.is-hidden {
    display: none;
}