<svg id="svg-filters" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" style="width: 0; height: 0; opacity: 0; pointer-events: none; position: fixed; top: -1px; left: -1px;">
    <defs>
        <filter id="svg-filter-logo-splash" x="-10%" y="-10%" width="120%" height="120%">
            <feOffset dy="2" dx="0"></feOffset>
            <feComposite in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
            <feFlood flood-color="#888888" flood-opacity="0.5"></feFlood>
            <feComposite in2="shadowDiff" operator="in"></feComposite>
            <feOffset dy="-2" dx="0"></feOffset>
            <feComposite in2="SourceGraphic" operator="xor"></feComposite>
        </filter>
        
        <filter id="svg-filter-logo-splash-mobile" x="-10%" y="-10%" width="120%" height="120%">
            <feOffset dy="1" dx="0"></feOffset>
            <feComposite in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
            <feFlood flood-color="#888888" flood-opacity="0.5"></feFlood>
            <feComposite in2="shadowDiff" operator="in"></feComposite>
            <feOffset dy="-1" dx="0"></feOffset>
            <feComposite in2="SourceGraphic" operator="xor"></feComposite>
        </filter>
    </defs>
</svg>