$bp-mobile-down: (max-width: 480px);
$bp-mobile-up: (min-width: 481px);
$bp-tablet-down: (max-width: 768px);
$bp-tablet-up: (min-width: 769px);
$bp-desktop-down: (max-width: 1280px);
$bp-desktop-up: (min-width: 1281px);