// Colors
$color-white-true:  rgb(255, 255, 255);
$color-white:       rgb(251, 251, 251);
$color-light-grey:  rgb(238, 238, 238);
$color-grey:        rgb(60, 60, 60);
$color-black:       rgb(29, 29, 29);
$color-black-true:  rgb(0, 0, 0);

$text-opacity:      0.885;  // e.g. use in combination with #000 to get $color-black;
$link-opacity:      0.65;
$opacity-shadow:    0.5;

$color-bg: #e8e3dd;

$color-red:     rgb(187, 40, 35);
$color-orange:  rgb(221, 141, 29);
$color-yellow:  rgb(238, 215, 16);
$color-green:   rgb(91, 192, 30);
$color-cyan:    rgb(78, 211, 178);
$color-blue:    rgb(78, 139, 185);
$color-purple:  rgb(107, 78, 201);
$color-pink:    rgb(187, 92, 162);

$color-primary:     $color-blue;
$color-secondary:   $color-green;

$color-link:        $color-blue;

$color-inactive:    $color-grey;
$color-info:        $color-cyan;
$color-success:     $color-green;
$color-warning:     $color-orange;
$color-danger:      $color-red;