
{{ define "main" }}

<div class="template-list">
    <div class="flat-background"></div>
    <!--
    <aside class="side-nav-container">
        <div class="side-nav sk-sticky">
            {{ range $team, $taxonomy := .Site.Taxonomies.teams }}
                <div class="side-nav-link sk-smoothscroll" data-sk-smoothscroll="{{ $team }}">{{ title (humanize $team) }}</div>                   
            {{ end }}
        </div>
    </aside>
    -->

    <main class="content-container">
        <div class="text text-column">
            <div class="hr"></div>

            <h1>The title of the <a href="">story</a></h1>
            <p>Let's say there is a paragraph first. This paragraph <a href="">link jith worgs</a> should ideally have some actual content instead of this filler text.</p>
        
            <h2>Second part</h2>
            <p>A short story is a piece of prose fiction that can be read in one sitting. Emerging from earlier oral storytelling traditions in the 17th century, the short story has grown to encompass a body of work so diverse as to defy easy characterization. At its most prototypical the short story features a small cast of named characters, and focuses on a self-contained incident with the intent of evoking a "single effect" or mood.</p>
            <p>In doing so, short stories make use of plot, resonance, and other dynamic components to a far greater degree than is typical of an anecdote, yet to a far lesser degree than a novel. While the short story is largely distinct from the novel, authors of both generally draw from a common pool of literary techniques.</p>

            <div class="hr-dot"></div>

            <p style="word-break: break-all;">1234567891113151719212325272931333537394143454749515355575961636567697173757779</p>
            <p>Short stories have no set length. In terms of word count there is no official demarcation between an anecdote, a short story, and a novel. Rather, the form's parameters are given by the rhetorical and practical context in which a given story is produced and considered, so that what constitutes a short story may differ between genres, countries, eras, and commentators.</p>
        
            <h3>Sub header 1</h3>
            <p>A short story is a piece of prose fiction that can be read in one sitting. Emerging from earlier oral storytelling traditions in the 17th century, the short story has grown to encompass a body of work so diverse as to defy easy characterization. At its most prototypical the short story features a small cast of named characters, and focuses on a self-contained incident with the intent of evoking a "single effect" or mood.</p>
            
            <div class="hr-dots"></div>

            <h3>Sub header 2</h3>
            <p>A short story is a piece of prose fiction that can be read in one sitting. Emerging from earlier oral storytelling traditions in the 17th century, the short story has grown to encompass a body of work so diverse as to defy easy characterization. At its most prototypical the short story features a small cast of named characters, and focuses on a self-contained incident with the intent of evoking a "single effect" or mood.</p>
        
            <div class="text text-footnote">
                <div class="hr"></div>

                <h4>Company: Icemedia</h4>
                <p class="font-small">Another paragraph. This time, the content really begins. Get in-depth with the text. Flesh out the details. Etc.</p>
        
                <h4>Team size: 2</h4>
                <p class="font-small">Another paragraph. This time, the content really begins. Get in-depth with the text. Flesh out the details. Etc.</p>
            </div>
            
            <div id="anchor-projects"></div>
            {{ range $team, $taxonomy := .Site.Taxonomies.teams }}
                <div id="{{ $team }}" class="team sk-inview text">
                    <h2><a href="{{ $.Site.BaseURL }}/teams/{{ $team }}">{{ title (humanize $team) }}</a></h2>

                    {{ range $taxonomy.Pages }}
                        <div class="summary text">
                            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                            <p>
                                {{ range .Params.tags }}
                                <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </p>
                            <p class="summary-content">
                                {{ .Summary }}
                            </p>
                            {{ if .Truncated }}
                                <div class="read-more-link">
                                    <a href="{{ .RelPermalink }}">Read More…</a>
                                </div>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>
            <div>Bla</div>

            <form name="register" class="form sk-validator-form" action="/register-success">
                <!-- Name -->
                <div class="sk-input-wrapper">
                    <input class="sk-validator-field" type="text" id="name" name="name" required data-sk-validator="isLength[[min..2],[max..250]]"/>
                    <label for="name">Name</label>
                                
                    <div class="sk-validator-error" data-sk-validator-error="name[isLength]">
                        <span>Please enter at least 2 characters</span>
                    </div>
                </div>
                            
                <!-- Email -->
                <div class="sk-input-wrapper">
                    <input class="sk-validator-field" type="text" id="email" name="email" required data-sk-validator="isEmail"/>
                    <label for="email">Email</label>
                                
                    <div class="sk-validator-error" data-sk-validator-error="email">
                        <span>Please enter a valid email address</span>
                    </div>
                </div>
                
                
                <div class="sk-input-wrapper">
                    <label for="example-select-val">Example select</label>
                    <div class="select-wrapper">
                        <select id="example-select-val">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                            
                <!-- With Friend -->
                <div class="sk-input-wrapper">
                    <input class="js-friend-toggle" type="checkbox" id="with-friend" name="with-friend"/>
                    <label for="with-friend"></label>
                    <label for="with-friend">Bring friend</label>
                </div>

                <!-- Submit -->
                <div class="sk-input-wrapper">
                    <label>&nbsp;</label>
                    <button type="submit" class="button is-primary js-button-register">Register</button>
                </div>
                <div class="sk-input-wrapper">
                    <label>&nbsp;</label>
                    <a href="" class="button is-secondary js-mail-address">Contact</a>
                </div>
            </form>

            <div>Bla</div>
            <div>Bla</div>
        
        </div>
    {{ partial "kitchensink.html" . }}

        <div class="sk-photoswipe-gallery">
            <figure class="sk-photoswipe-figure">
                <a href="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-pid="1">
                    <img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" alt="Alt tekst" data-src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-width="100" data-height="100"/>
                </a>
                <figcaption>Titel 1</figcaption>
            </figure>

            <figure class="sk-photoswipe-figure">
                <a href="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-pid="2">
                    <img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" alt="Alt tekst" data-src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-width="100" data-height="100"/>
                </a>
                <figcaption>Titel 2</figcaption>
            </figure>

            <figure class="sk-photoswipe-figure">
                <a href="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-pid="3">
                    <img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" alt="Alt tekst " data-src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.png{{ end }}" data-width="100" data-height="100"/>
                </a>
                <figcaption>Titel 3</figcaption>
            </figure>
        </div>

    </main>
</div>
{{ end }}