.infobox {
    float: right;
    margin: $unit-tiny 0 $unit-tiny $unit-small;
    padding: $unit-small;
    border: 1px solid rgba(0, 0, 0, 0.3);

    > *:last-child {
        margin-bottom: 0;
    }
}