.notification-container {
    position: fixed;
    bottom: $unit;
    right: $unit;
    z-index: 100;

    .notification {
        padding: 0 $unit-tiny;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        @include font-size(10);
        font-family: $font-heading;
        letter-spacing: 0.05em;

        &.is-draft {
            background-color: $color-orange;
            color: $color-white;
        }
    }
}