// Position yourself
$element-border-size: $unit-small;
@mixin element-border($background: $color-black, $direction: "horizontal") {
    content: '';
    display: block;
    width: if($direction == "horizontal", 100%, $element-border-size);
    height: if($direction == "horizontal", $element-border-size, 100%);
    background-color: $background;
}